<?xml version="1.0" encoding="utf-8"?>
<newsMessage xmlns="http://iptc.org/std/nar/2006-10-01/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:x="http://www.w3.org/1999/xhtml">
    <header>
        <sent></sent>
        <sender>{{ header.source_id }}</sender>
        <priority>{{ header.priority }}</priority>
    </header>
    <itemSet>
        <newsItem standard="NewsML-G2" standardVersion="2.10" conformance="power" xml:lang="de">
            <catalogRef href="http://www.iptc.org/std/catalog/catalog.IPTC-G2-Standards_3.xml" />
            <itemMeta>
                <itemClass qcode="icls:text" />
                <provider literal="N24_tty2NewsML.py" />
            </itemMeta>
            <contentMeta>
                <urgency>{{ header.priority }}</urgency>
                <altId type="idType:USN">{{ header.message_no }}</altId>
                <language tag="de" />
                <subject qcode="subj:{{ header.category }}" />
                <slugline separator="-">{{ header.keywords }}</slugline>
                <headline></headline>
            </contentMeta>
            <contentSet>
                <inlineXML contenttype="application/xhtml+html" wordcount="{{ header.word_count }}">
                    <html xmlns="http://www.w3.org/1999/xhtml">
                        <head>
                            <title />
                        </head>
                        <body>
                            <p>
                                {{ sluginfo }}
                            </p>
                            <p>
                            {{ maintext }}
                            </p>
                        </body>
                    </html>
                </inlineXML>
            </contentSet>
        </newsItem>
    </itemSet>
</newsMessage>
